﻿ @*@model ApplicationUser*@

@{
    ViewData["Title"] = "Электронный кошелек";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Электронный кошелек</h2>

<div>
    <h2>С нами легко!</h2>
    <hr />
   
</div>
<div>
    <table>
        <tr>
            <td></td>
            <li><a asp-controller="TransActions" asp-action="AddBalance">Пополнить баланс</a></li>
        </tr>
        <tr>
            <td></td>

        </tr>
    </table>
</div>
<div>

</div>
