﻿@using Microsoft.AspNetCore.Identity
@using CWk_9.Models
@*@model CWk_9.Models.ApplicationUser*@

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-left">
            <li>
              @*<a style="color:#ffff00">Ваш баланс @Model.Balance</a>*@
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Привет, @UserManager.GetUserName(User)! Ваш баланс </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Personal_Area" title="Account">Личный кабинет</a>
            </li>
           <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Выйти</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Вход</a></li>
    </ul>
}
