﻿@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<CWk_9.Models.TransAction>

@{
    ViewData["Title"] = "_TransActionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Транзакции</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sum)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.AcceptUser_Pers_Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTransaction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
               <td>
                    @Html.DisplayFor(modelItem => item.AcceptUser_Pers_Account)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfTransaction)
                </td>
               
            </tr>
        }
    </tbody>
</table>
