﻿@model CWk_9.Models.ApplicationUser


@{
    ViewData["Title"] = "Personal_Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Личный кабинет</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Personal_Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Personal_Account)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>
<div>
    <li><a asp-controller="TransActions" asp-action="AddBalance">Пополнить баланс</a></li>
    <li><a asp-controller="TransActions" asp-action="TransAct">Перевести деньги на другой счет</a></li>
    <li><a asp-controller="TransActions" asp-action="Pay_for_services">Оплатить коммунальные услуги и перевод</a></li>
    <li><a asp-controller="Home" asp-action="Index">На главную</a></li>
</div>

<h4>Транзакции</h4>


@{ Html.RenderPartial("_TransActionList", Model.TransActions); }@*(IEnumerable<TransAction>)ViewBag.Transactions*@)