﻿@model CWk_9.Models.TransActionsViewModel.AddBalanceViewModel
@{
    ViewData["Title"] = "AddBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddBalance</h2>
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <div class="form-group">
        <label asp-for="Pers_Acc">Введите лицевой счет</label>
        <input asp-for="Pers_Acc" class="form-control" />
        <span asp-validation-for="Pers_Acc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sum">Внесите сумму</label>
        <input asp-for="Sum" class="form-control" />
        <span asp-validation-for="Sum" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Пополнить</button>
</form>







