﻿@model CWk_9.Models.TransActionsViewModel.Pay_for_servicesViewModel

@{
    ViewData["Title"] = "Pay_for_services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pay_for_services</h2>

<h4>Pay_for_servicesViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Pay_for_services">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameOfService" class="control-label"></label>
                <input asp-for="NameOfService" class="form-control" />
                <span asp-validation-for="NameOfService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

