﻿@model CWk_9.Models.TransAction

@{
    ViewData["Title"] = "TransAct_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вы перевели деньги</h2>

<div>
    <h4>TransAction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.AcceptUser_Pers_Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcceptUser_Pers_Account)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfTransaction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfTransaction)
        </dd>
    </dl>
</div>

