﻿@model CWk_9.Models.TransActionsViewModel.TransActionViewModel

@{
    ViewData["Title"] = "TransAct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TransAct</h2>

<h4>TransActionViewModel</h4>
<hr />
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <div class="form-group">
        <label asp-for="AcceptUser_Pers_Account" class="control-label"></label>
        <input asp-for="AcceptUser_Pers_Account" class="form-control" />
        <span asp-validation-for="AcceptUser_Pers_Account" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sum">Внесите сумму</label>
        <input asp-for="Sum" class="form-control" />
        <span asp-validation-for="Sum" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Перевести</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

